* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
:root {
    --d-pink: rgb(109, 3, 95);
    --l-pink: rgb(222, 177, 252);
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: var(--d-pink);
    color: var(--l-pink);
    font-size: 5vh;
}
.main-title h1 {
    display: block;
    text-align: center;
}
.main-title h2 {
    display: block;
    text-align: center;
}
.splash-screen, 
#questions-container, 
#initials, 
#scoreboard {
    text-align: center;
    margin-top: 5%;
}
#initials input {
    display: block;
    margin: 0 auto;
}